/* body {
    background-color: rgb(63, 191, 208);
} */


/* 'margin': 'auto' */


.DateInput_input {
    font-size: 15px;
    text-align: center;
    
    height: 35px;
}

.popover {
    max-width: 500px;
}


/* for range slider in main page */
.rc-slider-track {
    background-color: red;
  }
.rc-slider-dot-active {  
    border-color: red;
    border: solid 2px red;
}
.rc-slider-handle {
    background-color: red;
    border-color: red;
}
.rc-slider-handle:hover {
    border-color: red;
}
.rc-slider-handle-active:active {
    border-color: red;
}

